:host {
  display: block;
  background-color: #030104;
  min-height: 100vh;
}

.money-item {
  top: -100px;
  animation: rain linear infinite;
  will-change: transform;
}

@keyframes rain {
  0% { transform: translateY(0); }
  100% { transform: translateY(120vh); }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
